<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false"/>
    </system.web>
    <appSettings>
      <!--Enter API Keys -->
      <add key="GoogleAPIKey" value="your google key here" />
      <add key="GoogleCX" value="your google cx here" />
      <add key="BingAPIKey" value="your bing api here" />
    </appSettings>

    <system.serviceModel>
        <behaviors>
          <serviceBehaviors>
            <behavior name="SearchBehavior" >
              <serviceMetadata httpGetEnabled="true" />
            </behavior>
          </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="ADevsLife.BingGoogle.Web.SearchAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="ADevsLife.BingGoogle.Web.Search" behaviorConfiguration="SearchBehavior">
                <endpoint address="" behaviorConfiguration="ADevsLife.BingGoogle.Web.SearchAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="ADevsLife.BingGoogle.Web.Search" />
              <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
